@import "sections/welcome_box.css";
@import "sections/contacto.css";
@import "sections/footer.css";
@import "sections/nav.css";
@import "sections/nosotros.css";
@import "sections/praise.css";
@import "sections/servicios.css";

* {
    margin: 0;
    padding: 0;
}

.primary_section {
    background-color: rgb(237, 242, 242);
    padding: 1rem;
}
main > :nth-child(odd) {
    background-color: #516774;
    color: white;
}
