#welcome-box {
    background: linear-gradient(180deg, #1a3749 25%, #516774 100%);
    background-position-x: 0%;
    background-position-y: 0%;
    background-size: auto;
    color: white;
    padding: 1rem;
    text-align: center;
}
#image_welcome {
    max-width: 60%;
}
#welcome-box h1 {
    font-size: 3rem;
}
#welcome-box p {
    font-size: 1.05em;
    margin-bottom: 1rem;

    /* background-color: rgba(255, 255, 255, 0.209); */
}

#welcome-box img {
    margin: 1rem 0;
}

@media (min-width: 768px) {
    #welcome-box {

    }
    #primary_welcome {

    }
    #secondary_welcome {
    
    }
    #image_welcome {
 
    }
    #tertiary_welcome {

    }
}
